#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.my-image {
    border-radius: 10%;
    width: 40%;
    height: 40%;
}

.body-image {
    background-image: url(/images/bg1.png);
}

img.resize {
  max-width:20%;
  max-height:20%;
}